.footerWrapper {
  background-color: $secondary-dark;
  margin-top: 3em;
  text-align: center;
}

.subscribeText {
  padding-top: 1.7em;
}

#subscribeForm {
  position: relative;
}

.warningMessage {
  position: absolute;
  left: 37em;
}

%input {
  border-radius: 3rem;
  height: 2.8em;
  border: none;

  &:focus {
    outline: none;
  }
}

.subscribeInput {
  @extend %input;
  padding-left: 1em;
  width: 18em;
}

.subscribeBtn {
  @extend %input;
  cursor: pointer;
  background-color: rgb(255, 192, 0);
  color: white;
  padding: 0 1em;
  margin-left: -3em;
}

.lowerText {
  padding: 1em 0 1.5em 0;
  margin: 2.5em 0 0 0;
}

.footerNav {
  @include flex;
  justify-content: space-between;

  p {
    margin: 1em 0 0em 2em;
  }
}

.footerNav ul {
  position: relative;
  margin: 1em 1.5em 0 0;
}

.footerNav ul li {
  display: inline-block;
}

.footerNav ul li.toTopText {
  position: absolute;
  top: 0.9em;
  left: -1em;
}

.toTop {
  @include circle;
}

.copyright {
  margin-left: 1.5em;
}

.fa-chevron-up {
  color: $primary-grey;
  position: absolute;
  top: 0.95em;
  left: 1em;
  font-size: 16px;
}

/* Tablets, iPads */

@media (max-width: 768px) {
  .warningMessage {
    left: 17em;
  }
}

/* Extra Small Devices, Phones */

@media (max-width: 480px) {

  .footerWrapper {
    margin-top: 0;
  }

  .subscribeText {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .subscribeBtn {
    margin: 1em;
  }

  .warningMessage {
    left: 4em;
  }
}

/* Custom, iPhone Retina */

@media (max-width: 320px) {

  .subscribeText {
    font-size: 1.7rem;
  }

  .warningMessage {
    left: 2.5em;
  }
}

