* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
}

.contentWrapper {
  @include flex;
  width: 95%;
  margin: 1em auto;
  justify-content: center;
}

.postWrapper {
  position: relative;
  max-width: 400px;
  background-color: $primary-light;
  margin: 1em;
}

.postImage {
  width: 400px;
  height: 400px;
}

.like-circle {
  @include circle;
  position: absolute;
  top: 1em;
  left: 20.8em;
  cursor: pointer;
}

.fa-heart-o {
  position: absolute;
  top: 1em;
  left: 1em;
  color: $primary-grey;
}

.fa-heart {
  position: absolute;
  top: 1em;
  left: 1em;
  color: rgb(205, 10, 60);
}

.postDate, .postTitle {
  text-align: center;
}

a.readMore {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

.postDate {
  -webkit-margin-before: -0.3em;
  padding-top: 1.5em;
}

.postTitle {
  line-height: 1.5em;
  margin: 0.7em 1em;
}

.postNav {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 1em auto;
  background-color: $primary-light;

  ul {
    display: flex;
    list-style: none;
  }
}

a.pageNumber {
  margin-right: 0.5em;
  padding: 0.7em 1em 0.7em 1em;
  border-radius: 5em;
}

.highlight {
  background-color: $secondary-light;
  color: white !important;
}

.arrow-left.icon {
  color: $secondary-grey;
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 18px;
  height: 2px;
  background-color: currentColor;
}

.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -3px;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

div.arrow-left.icon {
  margin: 1.5em;
}

.prev {
  margin: 0.5em 0 0.4em 3em;
  padding: 0.5em 2.2em 0.5em 1em;
  border-right: 1px solid $secondary-grey;
}

.arrow-right.icon {
  color: $secondary-grey;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: currentColor;
}

.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -3px;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.arrow-right.icon {
  margin: 1.5em 9em;
}

.next {
  margin: 0.5em 0 0.4em 3em;
  padding: 0.5em 4em 0.5em 2.2em;
  border-left: 1px solid $secondary-grey;
}

/* Extra Small Devices, Phones */

@media (max-width: 480px) {

  .postWrapper {
    max-width: 360px;
  }

  .postImage {
    width: 360px;
    height: 360px;
  }

  .like-circle {
    left: 18.4em;
  }

  .pageNumber {
    display: none;
  }

  .postNav {
    width: 100%;
  }

  div.arrow-right.icon {
    margin: 1.5em 6em;
  }

  .next {
    margin-left: 0;
    padding-right: 3em;
  }

  div.arrow-left.icon {
    margin-left: 1em;
  }

  .prev {
    padding-left: 0.5em;
  }

  .subscribeText {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .subscribeBtn {
    margin: 1em;
  }
}

/* Custom, iPhone Retina */

@media (max-width: 320px) {

  .postWrapper {
    max-width: 320px;
  }

  .postImage {
    width: 320px;
    height: 320px;
  }

  .like-circle {
    left: 16em;
  }

  .subscribeText {
    font-size: 1.7rem;
  }
}