/* color palette */
$primary-dark: #363A5B;
$primary-light: #363A5B;
$secondary-light: #1FBCD7;
$secondary-dark: #5F6EDC;

/* functional variables */
$page-background: $primary-dark;
$footer-color: $secondary-dark;

/* font variables */
$post-headline-font: "Playfair Display", serif;
$navigation-font: "Fjalla One", sans-serif;
$read-more-font: "Karla", sans-serif;