/* color palette */
$primary-dark: rgb(41, 40, 74);
$primary-light: rgb(56, 55, 92);
$secondary-light: #1FBCD7;
$secondary-dark: #5F6EDC;
$primary-grey: #909090;
$secondary-grey: rgb(134, 133, 156);

/* functional variables */
$page-background: $primary-dark;
$footer-color: $secondary-dark;

/* font variables */
$post-headline-font: "Playfair Display", serif;
$navigation-font: "Fjalla One", sans-serif;
$main-font: "Karla", sans-serif;

/* image urls */
$header-image: "../images/header-picture.jpg";