/* color palette */
$primary-dark: rgb(41, 40, 74);
$primary-light: rgb(56, 55, 92);
$secondary-light: rgb(31, 188, 215);
$secondary-dark: rgb(95, 110, 220);
$primary-grey: rgb(144, 144, 144);
$secondary-grey: rgb(134, 133, 156);

/* font variables */
$main-font: "Karla", sans-serif;

/* image urls */
$header-image: "../images/header-picture.jpg";